footer {
    background-color: $primaryColor;
    color: white;
}

.nav-link {
    color: white;
    font-weight: bold;

}

.icon {
    color:$thirdColor;
    font-size: 2em;
    font-weight: normal;
    &:hover {
        color: $secondaryColor; 
    }
}

.icons-external-links-container {
    display: flex;
    justify-content: center;
}