#projects-container {

}

.projects{
    border: 1px solid black;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#study-cards{
    /*background-image: url(../img/fiches.png);*/
    background-image: url(../fiches.png);

}