/*---- Common parts ---- */

.wrapper{
    /*border: 1px solid black;*/
    display: flex;
}

.presentation-text-wrapper{
    padding: 3em;
}

.presentation-text {
    font-size: 1.3em;
    margin-left: 3em;
    margin-right: 3em;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
.presentation-subtitle{
    font-size: 1.4em;
    margin-top: .8em;
    margin-bottom: .8em;
    margin-left: .7em;
}

/*---- Home page ---- */

#projects-container {

}

.projects{
    border: 1px solid black;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#study-cards:hover{
    /*background-image: url(../img/fiches.png);*/
    background-image: url(../img/fiches.png);
    background-size: cover;
    background-position: center;
}

#break-free:hover{
    background-image: url(../img/break-free.png);
    background-size: cover;
    background-position: center;
}



/*---- About page ---- */

.wrapper, #picture-JA, #presentation-JA{
    height: 90vh;
}

#picture-JA{
    width: 40%;
    background-image: url(../img/julie-4.JPG);
    background-size: cover;
    background-position: center;
}

#presentation-JA{
    width: 60%;
}

.presentation-title-JA {
    margin-bottom: 2em;
    margin-left: 3em;
}

#wordpress-button {
    margin-top: 4em;
    height: 3em;
}

/*---- Training page ---- */

#wrapper-about, #picture-oclock, #presentation-oclock{
    height: 90vh;
}

#picture-oclock{
    width: 40%;
    background-image: url(../img/oclock.png);
    background-position: center;
}

#presentation-oclock{
    width: 60%;
}

#oclock-button{
    align-self: center;
    margin-top: 1em;
    width: 50%;
    height: 2em;
}

.presentation-title-oclock {
    margin-bottom: 0em;
    text-align: center;
    font-size: 2.2em;
}